**/.idea/**
.idea/**
PublicApi/bin/**
PublicApi/obj/**

Checker/bin/**
Checker/obj/**

FileStorage/bin/**
FileStorage/obj/**

Checker/appsettings.Development.json
FileStorage/appsettings.Development.json
PublicApi/appsettings.Development.json